@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root {
    --primary: #C91C1C;
    --secondary: #FFEAEA;
    --light: #ffffff;
    --dark: #0E2E50;
}

*{
   font-family : 'Pretendard';
}
.logo {
	width: 300px; height: 120px;
}
.txt {
	font-size: 13px;
	color: #666565;
}
input::placeholder {
  font-size : 14px;
}