@charset "UTF-8";

@import
	url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@font-face {
	font-family: 'Giants-Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

:root {
	--primary: #C91C1C;
	--secondary: #FFEAEA;
	--light: #ffffff;
	--dark: #0E2E50;
}

* {
	font-family: 'Pretendard';
}

body {
	-ms-overflow-style: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*min-width: 632px;*/
	/*overflow-x: hidden*/
}

body::-webkit-scrollbar {
	width: 0;
}

ul {
	padding-left:0; margin-left:0;
}

.back-to-top {
	position: fixed;
	display: none;
	right: 45px;
	bottom: 45px;
	z-index: 99;
}

/*** Button ***/
.btn {
	position: fiexd;
	z-index: 9999;
	transition: .5s;
}

.btn.btn-primary, .btn.btn-secondary {
	color: #FFFFFF;
}

.btn-square {
	width: 70px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square, .btn-sm-square, .btn-lg-square {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	border-radius: 50%;
}

/*** Navbar ***/
.nav-bar {
	position: relative;
	margin-top: 45px;
	padding: 0 3rem;
	transition: .5s;
	z-index: 9999;
}

.nav-bar.sticky-top {
	position: sticky;
	padding: 0;
	z-index: 9999;
}

.navbar:not(.profile) {
	/*border-bottom: 1px solid #dce0e3;*/
	box-shadow: 0px 10px 20px -2px rgba(0, 0, 0, .08);
	z-index: 5;
	/*box-shadow: 0px 2px 6px 1px #555555*/
}

.profile a {
	display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.profile a:hover {
	-webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.navbar-nav {
	vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
	margin-right: 30px;
	padding: 25px 0;
	color: #FFFFFF;
	font-size: 15px;
	text-transform: uppercase;
	outline: none;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active
	{
	color: var(--primary);
}

@media ( max-width : 991.98px) {
	.nav-bar {
		margin: 0;
		padding: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		margin-right: 30px;
		padding: 10px 0;
	}
}

.navbar-light .navbar-brand {
	height: 80px;
}

.navbar-light .navbar-nav .nav-link {
	color: var(--dark);
	font-weight: 500;
}

@media ( min-width : 992px) {
	.navbar .nav-item .dropdown-menu {
		display: block;
		top: 100%;
		margin-top: 0;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
		opacity: 0;
		visibility: hidden;
		transition: .5s;
	}
	.navbar .nav-item:hover .dropdown-menu {
		transform: rotateX(0deg);
		visibility: visible;
		transition: .5s;
		opacity: 1;
	}
}

/*** mainpage text img ***/
@media ( min-width : 1200px) {
	.main-text-title {
		font-size: 4rem;
	}
	.main-text-middle, .main-text-last {
		font-size: 1.8rem;
	}
}

@media ( max-width : 1200px) {
	.main-text-title {
		font-size: 3rem;
	}
	.main-text-middle, .main-text-last {
		font-size: 1.3rem;
	}
}

.main-text-box {
	transition: .5s;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 600px;
	padding-top: 1em;
	padding-right: 2em;
}

.main-text {
	font-style: bold;
	font-family: 'Giants-Bold';
	text-align: right;
}

.main-text-title {
	color: var(--primary);
}

.main-text-middle, .main-text-last {
	color: #0E2E50;
}

.main-img-box {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-img {
    height: 100%;
    width: auto;
    min-width: 100%;
    object-fit: cover;
    transition: width 0.5s ease;
}

@media (min-width: 1200px) {
    .main-img {
        width: 50%; /* Adjust the width as per your design */
    }
}

@media (max-width: 1200px) {
    .main-img {
        width: 50%; /* Adjust the width as per your design */
    }
}

/*** sido ***/
.map-search {
	left: 0;
	right: 0;
}

.map-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.map-text {
	padding-left: 60px;
}

/*** Footer ***/
.footer_box {
	display: inline-block
}

.footer .btn.btn-social {
	margin-right: 5px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 35px;
	transition: .3s;
}

.footer .btn.btn-social:hover {
	color: var(--primary);
	border-color: var(--light);
}

.footer .btn.btn-link {
	display: block;
	margin-bottom: 5px;
	padding: 0;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	text-transform: capitalize;
	transition: .3s;
}

.footer .btn.btn-link::before {
	position: relative;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 10px;
}

.footer .btn.btn-link:hover {
	letter-spacing: 1px;
	box-shadow: none;
}

.footer .form-control {
	border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
	padding: 25px 0;
	font-size: 15px;
	border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
	color: var(--light);
}

.footer .footer-menu a {
	margin-right: 15px;
	padding-right: 15px;
	border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

/* 글 목록에서 글쓰기 버튼 */
#pencil {
  transition: all 0.2s linear;
}

#pencil:hover{
   transform: scale(1.4);
}

/* 지도 가운데 정렬하기 */
#map {
        margin: auto;
    }
    

/* 새 게시글 등록 버튼 그림자*/
#create-btn2{
 -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#searchResults {
    overflow-y: scroll; /* 스크롤을 허용합니다. */
    width: 100%; /* 부모 요소의 100% 폭을 가집니다. */
    height: 150px; /* 높이를 조정합니다. */
    padding: 10px; /* 내용과 스크롤바 사이의 여백을 설정합니다. */
    scrollbar-width: thin; /* 스크롤바 너비를 설정합니다. thin 또는 auto를 사용할 수 있습니다. */
    scrollbar-color: dark gray lightgray; /* 스크롤바의 색상을 설정합니다. */
}

.map-info-div{
	margin-bottom: 7px;	
}

.map-info-name{
	font-weight: bold;
	font-size: large;
	margin-bottom : 7px;
}
.map-info-addr{
	margin-bottom: 0
}


/* 현재 위치 받아오기 */
#mylocation{
	background-color: transparent; 
	color:white; 
	float:right; 
	border: none;
}
#mylocation:hover{
	color: #fff568;
}

/* 지역 주변 병원 상자(왼쪽부분) 그림자 주기 */
#search-data{
	position: relative;
    z-index: 1;
	box-shadow: -10px 0px 10px -2px rgba(0, 0, 0, .08);
}

/* 지역 주변 병원 상자(빨간색 부분)그림자 주기 */
#search-div{
	position: relative;
    z-index: 8;
	box-shadow: 0px 10px 10px -2px #D8D8D8;
}

.map-info-div:hover{
   background-color:#faf4f4;
   cursor:pointer;
}

.map-info-hours{
	margin-left: 0;
}

.review-show-btn{
	margin-bottom:5px;
	color: white;
	background-color: #C91C1C;
}

.review-show-btn:hover{
	background-color: #8a0808;
}

/* 리뷰 상자 스크롤바 생성 */

#review-list-box{
    max-height: 500px; /* 스크롤바가 나타날 최대 높이를 지정 (원하는 높이로 조절) */
    overflow-y: auto; /* 세로 스크롤바를 표시하도록 설정 */
}

#review-list-box::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

#review-list-box::-webkit-scrollbar-thumb {
    height: 50px; /* 스크롤바의 길이 */
    background: #C91C1C; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#review-list-box::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


/* 병원목록 스크롤바 생성 */
#searchResults{
	width: 400px; 
	height: 90%;
	overflow-y: scroll;
}
#searchResults::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

#searchResults::-webkit-scrollbar-thumb {
    height: 50px; /* 스크롤바의 길이 */
    background: #C91C1C; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#searchResults::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


/* 별점 css */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
       .rate { display: inline-block;border: 0;margin-right: 15px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  }

/* 리뷰작성 모달 css */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  
  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  
  /* 임시 지정 */
  width: 40%;
  height: 80%;
  
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all .5s;
}

/* 버튼을 가로로 나란히 배치 */
div > button > .reviewbtn{
    display: inline-block;
    margin-right: 10px; /* 버튼 간격 조절 */
    vertical-align: middle; /* 버튼 수직 정렬 */
}