<!DOCTYPE html>
<html lang="ko" xmlns="http://thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

<div class="container" >
	<table class ="table table-hover" hidden >
      <thead>
         <tr>
            <th>업체명</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>시도</th>
            <th>구군</th>
            <th>영업시간</th>
            <th>위도</th>
            <th>경도</th>
         </tr>
      </thead>
      <tbody class="row-6" th:each="item : ${funerals}">
         <tr>
            <div>
	            <td th:text = "${item.funName}"></td>
	            <td th:text = "${item.funTel}"></td>
	            <td th:text = "${item.funAddr}"></td>
	            <td th:text = "${item.funSido}"></td>
	            <td th:text = "${item.funGugun}"></td>
	            <td th:text = "${item.funTime}"></td>
                <td th:text = "${item.funLat}"></td>
                <td th:text = "${item.funLon}"></td>
            </div>
         </tr>
      </tbody>
   </table>
</div>

<script th:inline="javascript">
		const sido = localStorage.getItem('sido');
		const gugun = localStorage.getItem('gugun');
		
	
		
		var funeralData = [];
		
		var rows = document.querySelectorAll('.row-6');
		rows.forEach(function(row){
			var funName = row.querySelector('td:nth-child(1)').textContent;
			var funTel = row.querySelector('td:nth-child(2)').textContent;
			var funAddr = row.querySelector('td:nth-child(3)').textContent;
			var funTime = row.querySelector('td:nth-child(6)').textContent;
			var funSido = row.querySelector('td:nth-child(4)').textContent;
			var funGugun = row.querySelector('td:nth-child(5)').textContent;
			funeralData.push({'name': funName, 'tel':funTel, 'addr': funAddr, 'time':funTime, 'sido': funSido, 'gugun': funGugun});
		});
		
		for(var i = 0; i < funeralData.length; i++){
			if(sido === funeralData[i].sido && gugun === funeralData[i].gugun){
				document.write(funeralData[i].name + " |  "); 
				document.write(funeralData[i].tel + "  |  "); 
				document.write(funeralData[i].addr + "  |  ");
				document.write(funeralData[i].time + ' <br /> '); 
			}
		}
		
		/// 검색 시 해당 시/도 나 구/군에 병원이 없을 경우 알람띄우기
		var foundSido = false; 
		var foundGugun = false;
		
		for(var i = 0; i < funeralData.length; i++){
			if(sido === funeralData[i].sido){
				if(gugun === funeralData[i].gugun){
					foundGugun = true;
				}
				foundSido = true;
			}
		}
		if(!foundSido){
			alert("해당 시/도를 찾을 수 없습니다.");
			location.replace('/');
		} else if(!foundGugun){
			alert("해당 구/군을 찾을 수 없습니다.");
			location.replace('/');
		}

</script>


</body>
</html>

